.cardSmall__wrapper {
  width: calc(25%);
  background-color: var(--white-color);
  padding: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  min-width: 200px;
  max-width: 400px;
}

.cardSmall__header {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

.cardSmall__body {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
 

  .cardSmall__body-value {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black-color);
  }

  
}

.cardSmall__body-judge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--judge-drop-background-color);
  color: var( --judge-drop-font-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 66px;
  gap: rem;

  
  .cardSmall__body-judge__icon {
    font-size: medium;
    margin-top: 0.2rem;
  }
}

.cardSmall__body-judge.green {
  background-color: var(--judge-raise-background-color);
  color: var( --judge-raise-font-color);
}


.cardSmall__footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}


@media screen and (max-width: 683px) {
  .cardSmall__wrapper {
  min-width: 359px;
  }
}

@media screen and (max-width: 480px) {
  .cardSmall__wrapper {
  min-width: 325px;
  }
}

@media screen and (min-width: 1200px) {
  .cardSmall__wrapper {
    max-width: 500px;
  }
}

