

.sidebar__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 1px solid black;
}

.sidebar__header {

  display: flex;
  gap: 1.5rem;
  // padding: 12px;
  align-items: center;
  cursor: pointer;
  
  padding: 0 10px;
  


  .sidebar__header-icon {
    color: var(--white-color);
    background-color: var(--select-color);
    border-radius: 5px;
  }
  p {
    opacity: 0;
    transition: 0.3s;
  }
}




.hamburger-react {
  // right: 3px !important;
  // height: 2rem !important;
  // width: 2rem !important;
}

.sidebar__button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: var(--black-color);
  margin-top: 1rem;

  display: flex;
  gap: 10px;
  align-items: center;
  height: 56px;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0 10px;
  border-radius: 8px;
  // color: #f9f9f9;
  opacity: 0.8;

  span {
    opacity: 0.7;
  }

  p {
    opacity: 0;
    transition: 0.3s;
  }

  .sidebar__button:hover > span {
    opacity: 1;
    color: var(--select-color)
  }
  
}


.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: var(--white-color);
  transition: width 0.2s ease;
}

.sidebar.open {
  width: 260px;

  .sidebar__button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    opacity: 1;
    color: var(--select-color)
  }

  .sidebar__button:hover > p {
    opacity: 1;
    color: var(--select-color)
  }

  .sidebar__button p {
    opacity: 1;
  }

  .sidebar__header p {
    opacity: 1;
    font-weight: bold;
    font-size: large;
  }
}


.sidebar__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  // overflow-y: auto;
}

.sidebar__menu {
  display: grid;
  padding: 0 10px 10px 10px;
}


.sidebar__button-7{
  position: static;
  margin-top: 2rem;

}


.sidebar__link {
  text-decoration: none;
}


@media screen and (max-height: 767px) {
  // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。
  .sidebar__button {
    height: 40px;
    
  }
}