.summarizePage__group1 {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem;

  
}

.summarizePage__group2 {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  min-width: calc(100% - 2rem);
  margin-top: 2rem;
}

.summarizePage__group3 {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  min-width: calc(100% - 2rem);
  margin-top: 2rem;
}
.summarizePage__group3-eletricData {
  width: 60%;
  padding: 0.5rem;
  background-color:var(--white-color);
  min-width: 300px !important;
}

.summarizePage__group3-greenPowerSummarize {
  background-color: var(--white-color);
  width: 30%;
  min-width: 300px !important;
}





@media screen and (max-width: 1300px) {
  .summarizePage__group2 ,.summarizePage__group3{
    gap: 2rem;
  }
}


@media screen and (max-width: 1200px) {
  .summarizePage__group1 {
    align-items: center;
    flex-wrap: wrap;
  }

  .summarizePage__group2,.summarizePage__group3 {
    align-items: center;
    justify-content: center;
  }

  .summarizePage__group3-greenPowerSummarize, .summarizePage__group3-eletricData {
    min-width: 80%;
  }
}


// @media screen and (max-width: 645px) {
//   .summarizePage__group1 {
//     min-width: 80%
//   }
// }